<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Double Drops</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script src="https://kit.fontawesome.com/4bd4b98832.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="mondayCheck" th:checked="">
        <label class="form-check-label" for="mondayCheck">
            Monday
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="tuesdayCheck" th:checked="">
        <label class="form-check-label" for="tuesdayCheck">
            Tuesday
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="wednesdayCheck" th:checked="">
        <label class="form-check-label" for="wednesdayCheck">
            Wednesday
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="thursdayCheck" th:checked="">
        <label class="form-check-label" for="thursdayCheck">
            Thursday
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="fridayCheck" th:checked="">
        <label class="form-check-label" for="fridayCheck">
            Friday
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="saturdayCheck" th:checked="">
        <label class="form-check-label" for="saturdayCheck">
            Saturday
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="sundayCheck" th:checked="">
        <label class="form-check-label" for="sundayCheck">
            Sunday
        </label>
    </div>
</div>
</body>
</html>
