* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content-page {
    background-color: white;
    border-radius: 29px;
    margin: 30px;
    padding: 10px;

    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
}

.nav-button {
    background-color: transparent;
    border: transparent;
    font-family: "Open Sans", sans-serif;
    font-variant: normal;
    margin: 10px;
    letter-spacing: 2px;
}

#your-profile {
    float: right;
    margin-right: 25px;
}

#dashboard {
    padding: 20px;
}

#weekly-overview {
    background-color: transparent;
    padding: 30px;
    width: 300px;
    border-radius: 35px;
}



